*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0d1117;
    font-family: sans-serif;
}
.nav-bar{
    height: 70px;
    width: auto;
    /* background-color: white; */
}
.nav-logo{
    height: 70px;
    width: 100px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    background-image: url(asset\ 5.svg);
    background-size: cover;
    height: 40px;
    width: 40px;
}
.nav-logo a{
    margin: 5px;
    color: white;
}
.nav-links{
    margin-left: auto;
    margin-top: -70px;
    height: 70px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}
.links{
    color: white;
}

/* header */

/* hero section 1 */

.hero-section1{
    height: 500px;
    width: auto;
}
.hero-msg1{
    font-size: 40px;
    font-family: sans-serif;
    color: #e6edf3;
    font-stretch: expanded;
    margin-left: 350px;
    margin-top: 10px;
}
.hero-msg2{
    color: #6e7681;
    font-size: large;
    margin-left: 350px;
    margin-top: 10px;
}
.button{
    border: 30px white solid;
    width: 300px;
    height: 50%;
    font-size: large;
    border-radius: 10px;
    margin-top: 10px;
}
.hero-msg2 p{
    color: #e6edf3;
    margin-top: 10px;
    font-size: smaller;
}

/* hero section 2 */

.second-hero-section{
    height: 700px;
    width: auto;
    background-image: url(asset\ 4.svg);
    background-size: cover;
}
.second-hero-text{
    height: 100px;
    width: auto;
    margin: 50px;
}
.second-hero-text p{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: larger;
    font-weight: 900;
}
.second-hero-content{
    height: 400px;
    width: 1000px;
    background-color: #010409;
    margin: auto;
}
.second-hero-content p{
    color: #ffffff;
    font-size: large;
    margin-top: 5px;
    margin-left: 30px;
    padding: 1px;
}
.second-hero-heading{
    height: 100px;
    width: auto;
    margin: auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.second-hero-heading h1{
    color: #e6edf3;
    text-align: center;
    margin: 50px;
}
/* hero section3 */

.hero-section3{
    height: 600px;
    width: auto;
    background-color: #ffffff;
}
.hero-msg3{
    color: #0d1117;
    font-size: 64px;
    line-height: 68px;
    font-weight: 900;
    padding: 50px;
}
.hero-msgs{
    width: auto;
    height: 300px;
    display: flex;
}
.hero-msg4{
    color: #1f2328;
    /* font-size: 24px;
    line-height: 28px;
    font-weight: 900; */
    padding: 50px;
    width: 300px;
    height: 200px;
}
.msg2{
    font-size: 26px;
    font-weight: 900;
}
.msg4{
    font-size: small;
    color: #6e7781;
    margin-top: 5px;
}
.hero-msg4 a{
    color: #0969da;
    font-size: small;
}

/* cart section */

.cart-section{
    width: auto;
    height: 400px;
    background-image: url(square-pattern.png);
    background-size: cover;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-material{
    width: 600px;
    height: 250px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.cart-heading{
    color: #1f2328;
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
}
.cart-para{
    color: #6e7781;
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
}
.cart-button{
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    background-color: #1b1f23;
    color: #ffffff;
    height: 50px;
    width: 250px;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: none;
}
.cart-a{
    color: #0969da;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

/* first foot panel */

.first-foot-panel{
    width: auto;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.foot-heading{
    color: #1f2328;
    margin-top: 50px;
    line-height: 21px;
}
.foot-material{
    margin-top: 50px;
}
.foot-material ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.foot-list p{
    font-size: 14px;
    color: #1f2328;
    line-height: 21px;
}
.foot-list a{
    color: #6e7781;
    font-size: 14px;
    line-height: 17.5px;
}

/* second foot panel */

.second-foot-panel{
    height: 150px;
    width: auto;
    background-color: #f6f8fa;
    display: flex;
}
.second-foot-text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 300px;
}
.second-foot-text a{
    color: #6e7781;
    font-size: 12px;
    line-height: 18px;
}
.foot-logos{
    height: 100px;
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}
.twitter-logo{
    height: 100px;
    width: 100px;
    background-image: url(asset\ 9.svg);
    background-repeat: no-repeat;
    margin-top: 50px;
}
.facebook-logo{
    height: 100px;
    width: 100px;
    background-image: url(asset\ 10.svg);
    background-repeat: no-repeat;
    margin-top: 50px;
}
.youtube-logo{
    height: 100px;
    width: 100px;
    background-image: url(asset\ 11.svg);
    background-repeat: no-repeat;
    margin-top: 50px;
}
.linkedin-logo{
    height: 100px;
    width: 100px;
    background-image: url(asset\ 12.svg);
    background-repeat: no-repeat;
    margin-top: 50px;
}
.github-logo{
    height: 100px;
    width: 100px;
    background-image: url(asset\ 13.svg);
    background-repeat: no-repeat;
    margin-top: 50px;
}